<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Welcome to spring boot application!</h2>
<h3>Services: </h3>
<a href="/users">All users</a>
<br/>
<a href="/h2-console"><span>H2 console : use datasource = </span><b th:text="${datasource}"></b></a>
<br/><br/><br/>
<h3>Help info: </h3>
<a href="https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html">Spring. Default properties</a>
<br/>
<a href="https://spring.io/guides/gs/accessing-data-jpa/">Spring. Accessing Data with JPA</a>
<br/>
<a href="https://chrome.google.com/webstore/detail/json-viewer-awesome/iemadiahhbebdklepanmkjenfdebfpfe">Json plugin for Chrome</a>
</body>
<h3><i>Press Ctrl+F9 in idea to build project and reload templates.</i></h3>
</html>
